/* Import Radix UI styles */
@import "@radix-ui/themes/styles.css";

:root {
  --font-geist-sans: var(--font-geist-sans, sans-serif);
  --font-geist-mono: var(--font-geist-mono, monospace);
}

body {
  min-height: 100vh;
  margin: 0;
}
